<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        (% block head %)
        <script src="/js/layout.js"></script>
        <script type="text/javascript" src="/js/knockout-min3.4.2.js"></script>
        (% block script %)(% endblock %)
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        (% block style %)(% endblock %)
        (% endblock %)
        <title>(( title ))</title>
    </head>
    <body>
        <!-- ヘッダーコンテンツ -->
        <div class="layout-header">(% block header %)(% endblock %)</div>
        <!-- メインコンテンツ -->
        <div class="layout-content">(% block content %)(% endblock %)</div>

        <!-- アクションエリア -->
        (% if action != None %)
            <div class="action-area">
                <div class="action-wrapper">
                    <button class="action (( action ))"></button>
                </div>
            </div>
        (% endif %)
        
        <!-- フッターコンテンツ -->
        <div class="layout-footer">(% block footer %)(% endblock %)</div>
    </body>
</html>
