(% extends "layout.html" %)
(% block script %)
    <script type="text/javascript" src="/js/knockout-min3.4.2.js"></script>
(% endblock %)
(% block header %)
    (% if headingContent != None %)
        <h2 class="heading-content">(( headingContent ))</h2>
        <div class="search">
            <i class="fas fa-search"></i>
        </div>
        <div class="menu">
            <i class="fas fa-ellipsis-v"></i>
        </div>
    (% endif %)
(% endblock %)
(% block content %)
    <div>
        <span data-bind="text: message"></span><br>
        <span>Word Containerへようこそ！</span>
    </div>
(% endblock %)